/* Widget: Comments */
.widget-comments {

}
	.comments-list__date {
		font-family: $font-family-accent;
	}
	.comments-list__link {
		color: #c2c4c7;

		&:hover {
			color: $color-2;
		}
	}


// Alternative styling
.comments-list--alt {

	@each $color, $value in $post-category-colors {
		.comments-list__item--#{$color} {

			.comments-list__post::before {
				background-color: $value;
			}
		}
	}

	.comments-list__info {

	}
		.comments-list__post {

			@if $template == football {
				color: $color-gray-3;

				> a {
					color: $color-gray-3;

					&:hover {
						color: #fff;
					}
				}
			}
		}
		.comments-list__link {

			@if $template == football {
				color: #fff;
			}
		}
}
