/**
 *
 * Scoreboard
 *
 */

.alc-template-scoreboard {

}

	.alc-scoreboard-wrapper {

	}

		// Content
		.alc-scoreboard-content {
			padding: 0 30px;
			overflow: hidden;
			background-color: $scoreboard-default-bg;
			border-bottom: 1px solid $scoreboard-default-border-color;

			@media (max-width: 767px) {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.alc-scoreboard {

			.slick-arrow {
				height: 100%;
				width: 30px;
				top: 0;
				bottom: 0;
				border-radius: 0;

				&.slick-disabled {
					pointer-events: none;
					opacity: 0;
				}

				&.slick-prev {
					left: -30px;
				}

				&.slick-next {
					right: -30px;
				}
			}
		}

		// Event
		.alc-scoreboard__event {
			float: left;
			@include font-accent(10px);
			line-height: 1.5em;
			font-weight: normal;
			border-right: 1px solid $scoreboard-default-border-color;
		}

			.alc-scoreboard__event-wrapper {
				display: block;
				padding: 10px 20px;
				color: $scoreboard-default-text-color;
				text-decoration: none;

				@media (max-width: 479px) {
					padding: 8px 16px;
				}

				&:hover {
					color: $scoreboard-default-text-color;
					background-color: $scoreboard-default-bg-hover;
				}
			}

		// Meta
		.alc-scoreboard__meta {
			display: block;
			margin-bottom: 1em;
			font-size: 9px;
			line-height: 1.5em;

			@media (max-width: 479px) {
				margin-bottom: 0.5em;
			}
		}
			.alc-scoreboard__league-season-wrapper {
				display: block;
			}
			.alc-scoreboard__league {

			}
			.alc-scoreboard__venue {
				display: block;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

		// Teams
		.alc-scoreboard__teams {
			padding: 0;
			margin: 0;
		}
			.alc-scoreboard__team {
				display: flex;
				align-items: center;
				min-height: 30px;
				padding: 2px 0;
			}
				.alc-scoreboard__team-logo {
					width: 22px;
					margin-right: 5px;
				}
				.alc-scoreboard__team-name {
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					color: $scoreboard-default-team-color;
					font-weight: 700;
				}
				.alc-scoreboard__result {
					text-align: right;
					flex: 1 0 auto;
					color: $scoreboard-default-result-color;
				}


// Alternative color scheme
.alc-scoreboard-content--alt-color {
	background-color: $scoreboard-dark-bg;
	border-bottom: 1px solid $scoreboard-dark-border-color;

	.alc-scoreboard {

	}

	// Event
	.alc-scoreboard__event {
		border-right: 1px solid $scoreboard-dark-border-color;
	}

		.alc-scoreboard__event-wrapper {
			color: $scoreboard-dark-text-color;

			&:hover {
				color: $scoreboard-dark-text-color;
				background-color: $scoreboard-dark-bg-hover;
			}
		}

		.alc-scoreboard__team-name {
			color: $scoreboard-dark-team-color;
		}

		.alc-scoreboard__result {
			color: $body-font-color;
		}
}
