/**
 *
 * Staff Directories
 *
 */



/* List */
.sp-staff-directory {

	.data-name,
	.data-phone,
	.data-email {

		> a {
			color: $headings-color;

			&:hover {
				color: $link-color-hover;
			}
		}
	}

	> thead > tr > th:first-child,
	> tbody > tr > td:first-child {
		padding-left: $card-horizontal-padding;
	}
}



/* Gallery */


