/**
 *
 * User Scores
 *
 */

.sp-section-content-user_results,
.sp-section-content-user_scores {
	margin-bottom: 15px;
}

.sp-event-user-results,
.sp-event-user-scores {

	th {
		text-align: center;

		&.data-name {
			text-align: left;
		}
	}

	tbody > tr > td {
		vertical-align: middle;
		min-width: 52px;

		&.data-name {
			color: $headings-color;
		}
	}

	thead > tr > th:first-child,
	tbody > tr > td:first-child {
		padding-left: $card-horizontal-padding;
	}

	.form-control {
		height: 34px;
		padding: 8px 10px;
	}
}

.sp-event-user-scores {

	.form-control {
		padding-left: 6px;
		padding-right: 6px;
	}
}
